.user-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    .input-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        .custom-btn{
            margin-bottom: 1rem;
            margin-left: 2%;
        }
    }
    .list-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .user-item {
            border: 1px solid #ccc!important;
            padding: 1%;
            margin: 1%;
        }
    }
}
